@import 'global';

body {
    margin: 0;
    overflow: hidden;

    * {
        font-family: var(--font-family-main);
        font-size: 12px;
    }

    pre {
        margin: 0;
    }

    textarea {
        padding: 0;
    }
}