.pages_container {
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 10;

  display: flex;
}

.add_page {
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid lightgray;
  border-radius: 5px;
}

.lists_select_element {
  width: 100%;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}