.codeMirror :global(.cm-content) {
  min-width: 10px;
  padding: 0 !important;
}

.codeMirror :global(.cm-line) {
  padding: 0 !important;
}

.readOnly :global(.cm-editor) {
  caret-color: transparent;
  user-select: none;
  pointer-events: none;
}

.textCursor {
  cursor: text;
}